/*////////全体設定////////*/
body{
	font-family:Verdana,"ヒラギノ角ゴ Pro W3","メイリオ";
	color:#333;
	margin:0;
	padding:0;
	/*position:absolute;*/
}
img{
	object-fit:cover;

}
.line_add{
	border: 1px solid #a9a9a9;
}
nav,ul,li,h1,p,a{margin:0;padding:0;}
a {
	color:#333;
	text-decoration: underline;
}
header{
	padding-top:10px;
	margin:0;
	/*background:linear-gradient(-135deg, #83a4d4, #b6fbff);*/
	background:linear-gradient(-135deg, #74ebd5, #acb6e5);

}


li {
	list-style-type:none;
}
.shopArea {
	clear:both;
	padding: 20px 20px;
	border-bottom: 1px solid #e6e4e4;
	background:#f5f5dc;
}
.shopArea h1 {
	font-size:200%;
	line-height:1.3em;
}
.shopArea p{
	font-size: 12px;
	padding-left:5px;
}
/*--------------------------------
// ナビゲーション部分css
// 横幅20%のボタンを5つ横並びに配置
----------------------------------*/
nav {
	background: #f5f5f5;
	text-align:center;
}
nav ul li{
	float: left;
	width: 16.66666%;
	border-right: 1px solid #e6e4e4;
	border-bottom: 1px solid #e6e4e4;
	box-sizing: border-box;

}
nav ul li:last-child {
	border-right: none;
}
nav ul li a{
	display: block;
	width: 100%;
	padding: 10px 0;
	text-decoration: none;
}
nav ul li a:hover {
	background:#e1f3fa;/*linear-gradient(-135deg, #74ebd5, #acb6e5);*/
}

.reco_info:hover{
	opacity: 0.7;    /* マウスオーバー時の行の背景色 */
}
.reco_info td:hover {
    opacity: 0.7;    /* マウスオーバー時のセルの背景色 */
}
.reco_info td{
	padding-left:10px;
	padding-top:8px;
	padding-bottom:8px;
}
/* 行全体をリンクに */

a.widelink { display: block; }

#all_table{

}
/*テーブルの位置、余白設定*/
table{
	margin-right:auto;
	margin-left:auto;
	width:1000px;
	margin-bottom:50px;
	margin-top:50px;
	border-collapse:collapse;

}

/*コメント削除デザイン設定（追加）*/
.comment_delete input[type="image"]{
	float:right;
}
.comment_delete input[type="image"]:hover{
	opacity:0.7;
}

/*
/////////company.jspデザイン変更/////////////
*/

/*見出し背景色、文字設定「注目ポイント」「チャート」「コメント」「コメント一覧」他のページでも使用*/
.point_top{
    background:#93d1e6;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	padding-top:15px;
	padding-bottom:15px;
	border-collapse:separate;
}

/*///////企業のトップ情報/////////*/
/*企業名と株価の欄のデザイン*/
#top_table{
	border-collapse:collapse;
}
#top_company{
	font-weight: bold;
	background-color:#52c2d0;
	color:white;
	font-size:50px;
	padding-top: 25px;
	padding-bottom:25px;
}
/*天気、紹介、PERなどのデザイン*/
.top_sub{
	background-color:#fff;

}
.top_sub{
	text-align:center;
	padding:10px;
}
.top_sub td{
	text-align:center;
	padding:10px;
}
/*//////チャート//////*/
/*見出し「チャート」*/
.chart{
	border-collapse:collapse;
	margin-top:50px;
}
.chart td{
	padding:20px;
}
/*「７、３０日間のボタンデザイン」*/
#chartbtn_margin{
	margin-top:20px;
	margin-bottom:20px;
}
.chart a.cp_btn{
	display: inline;
	width: 250px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.chart a.cp_btn:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.chart a.cp_btn:hover{
	background-color:#74f1fc;
}
/*背景色設定*/
.sub{
	background-color:#fff;
}

/*///////注目ポイント/////////*/
.attention_point{
	border-collapse: collapse;
	margin-top:10px;
}
.attention_point tr{
	border-bottom:solid 2px white;
}
.attention_point tr:last-child{
	border-bottom: none;
}
.attention_point th{
	background-color:#52c2d0;
	color:white;
	width: 30%;
	border-bottom:solid 2px white;
}
.attention_point th.last{
	border-bottom:solid 1px black;
}

.sub_point{
	background-color:#afeeee;
	padding-top:10px;
	padding-bottom:10px;
	color:black;
	width: 30%;
	font-weight: normal;
}
.attention_point td{
	background-color:#afeeee;
	padding-left:20px;
}
/*/////////優待情報欄///////*/
yutai{
	width:800px;
}
.yutai_form{

}
.yutaihead{
	text-align:center;
}
.yutaihead h1{
	color: #00044f;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-left:420px;
    float:left;
}
#yutai_content{
	padding-top:0;
}
.yutai_good{
	float:right;
}
.text{

}
/*///////コメント欄/////////*/
/*位置設定*/
.comment_list{
	border-collapse:collapse;
	margin-top:10px;
}
.comment_list td{
	padding:20px;
}
.comment_submit{
	border-collapse:collapse;

}
.comment_submit td{
	text-align:center;
}
/*テキストエリアの大きさ、余白設定*/
.comment_submit textarea{
	margin-top:10px;
	width:800px;
	height:200px;
}
/*送信ボタンのデザイン*/
.comment_submit input{
	margin-top:3px;
	margin-bottom: 20px;
	padding: 10px 30px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 250px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #93d1e6;;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.comment_submit input:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.comment_submit input:hover{
	background-color:#74f1fc;

}

/*コメントリストの位置設定*/

/*「コメント内容」の位置設定*/
.commentword{
	text-align:left;
	padding:10px;
}


/*
--------------------industry.jspのcss-----------------------
*/

/*-------------業界フィルターのデザイン設定---------------*/
/*背景の設定*/
.industry_filter{
	padding-top:50px;
	padding-bottom:20px;
	/*background-color:#ffdab9;*/
	margin-top:45px;
	margin-right:auto;
	margin-left:auto;
	width:1000px;
}
/*業界選択の欄の設定*/
.industry_filter select{
	width:280px;
	height:50px;
	color: #666666;
	font-size:20px;
}
.industry_filter form{
margin-right:auto;
margin-left:auto;
}
/*「Ｇｏ！」ボタンの設定*/
.industry_filter input{
	margin-top:3px;
	margin-bottom: 10px;
	padding: 8px 30px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 100px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #93d1e6;

	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.industry_filter input:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.industry_filter input:hover{
	background-color: #74f1fc;

}

/*-------------業界ページトップ、天気表示の設定---------------*/

/*フォント設定*/
.sub_word{
	padding-left:20px;
	padding-top:53px;
	font-size:18.5px;
	padding-bottom:0px;
	/*color:#a0522d;晴れの時*/
	color:#00044f;/*曇りの時*/

}
.main_word{
	font-size: 40px;
	font-weight: bold;
	padding-top:0px;
	padding-left:20px;
	color:#00044f;/*曇りの時*/
	/*color:#a0522d;晴れの時*/
}

/*業界ページトップの表全体のデザイン*/
.industry_top{
	border:none;
	/*background-color:#dbdbdb;曇り*/
	/*background-color:#6da0cf;/*雨の時*/
	background-color:#ffe9b3;/*晴れの時*/
}

/*-----------業界動向デザイン設定-------------*/
/*全体のデザイン*/
.industry_overview{
	border:none;
	border-collapse:collapse;
}
.overview{
	width:750px;
	vertical-align:top;
}
/*文字のデザイン*/
.industry_overview h3{
	/*color:#00044f;*/
	color:#00044f;
	margin-left:20px;
	margin-top:10;
	margin-bottom:20px;
}
.industry_overview p{
	/*color:#00044f;*/
	color:#00044f;
	margin-left:25px;
}
/*画像設定*/
.overview_img img{
	margin-top:25px;
	margin-bottom:25px;
}

/*-----------おすすめ企業一覧デザイン設定-------------*/
.backcolor:nth-child(odd){
	background: #e6f2ff;
}
.list{
	margin-top:10px;
}
.recommend{
	background-color:#87ceeb;
	color:white;
}
.recommend th{
	padding-top:10px;
	padding-bottom:10px;
}
.company_name{
	width:40%;
}
.code_num{
	width:20%;
}
.stock_price{
	width:20%;
}

/*
---------------market.jsp編集----------------------
*/
/*動くニュースの設定*/
.maki{
	padding-top:5px;
	/*background:rgba(82, 194, 208,0.6);*/
	margin-top:7px;
}
.maki p{
	color:#00159c;
}
/*証券番号検索ボタン編集設定*/
.top_market_search{
	/*background: linear-gradient(-135deg, #74ebd5, #acb6e5);*/
	padding-top:50px;
	padding-bottom:50px;
	width:1000px;
	margin-right:auto;
	margin-left:auto;

	text-align:center;
}
.top_market_search p{
	color:white;
	font-weight:bold;
	font-size:35px;
}
.top_market_search input[type="tel"]{
	width: 280px;
    height: 40px;
    color: #666666;
    font-size: 20px;
}
.top_market_search input[type="submit"]{
	border: 2px solid #ffffff;
	margin-top: 3px;
    margin-bottom: 10px;
    font-size: 15px;
    position: relative;
    display: inline;
    width: 100px;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #93d1e6;;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.top_market_search input[type="submit"]:hover{
	background-color: #74f1fc;
}
.top_market_search input[type="submit"]:activate{
	border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
/*market.jspデザイン設定*/

.industryweather{
	border-collapse:collapse;
	width:700px;
}
.industryweather td{
	padding:0;
}

.industryweather th{
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	padding:10px;
	color:#fff;
	background: #93d1e6;
}
.indust{
	width:70%;
	float:left;
}
.future{
	width:30%;
	float:left
}
.industryweather tr:nth-child(odd){
	background:#e6f2ff;
}
/*フォント設定*/
.reco_info a{
	text-decoration: none;
	font-size: 25px;
	color:#4682b4;
}
/*ブックマークテーブルデザイン設定*/
.bookmark_good{
	line-height:60px;
	vertical-align:middle;
	text-align:center;
	padding:0;
}
.bookmark_good:hover{
	opacity:0.7;
}


/*
---------------mypage.jsp編集----------------------
*/
/*-------------アイコンと自己紹介の編集設定------------*/
/*背景色設定*/
.profile_top{
	background:#93d1e6;
	padding:10px;
	color:white;
}
/*アイコン設定*/
.mypage_profile{
	margin-top:50px;
}
.profile_img{
	width:100px;
	height:100px;
	margin-right:25px;
	float:left;
}
/*紹介文の設定*/
.user_introduction{
	float:left;
	width:750px;
}
.user_name{
	font-size:40px;
	margin-bottom:10px;
}
.invest_histry{
	font-size:20px;
	margin-bottom:10px;
}
.introduction_word{
	margin-bottom:7px;
}
/*編集ボタン設定*/
.edit_profile{
	float:right;
	margin-top:15px;
	margin-right:10px;
}
.edit_profile a{
	margin-top:3px;
	margin-bottom: 10px;
	padding: 10px 30px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 250px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #93d1e6;
	/*border-bottom: 2px solid #00838F;*/
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
	border:2px solid #ffffff;
}
.edit_profile a:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.edit_profile a:hover{
	background-color:#74f1fc;
}
.line-right{
	border-right:1px solid #d3d3d3;
}
/*--------ユーザの投稿一覧とブックマーク企業一覧位置設定--------*/
.post_n_bookmark{
	margin-right:auto;
	margin-left:auto;
	width:1000px;
	margin-bottom:50px;
	margin-top:50px;
}
/*--------ユーザの投稿一覧設定--------*/
.heading{
	background-color:#52c2d0;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	padding-top:15px;
	padding-bottom:15px;
}
.post_n_bookmark img:hover{
/**/opacity:0.7;
}
.post_article{
	width:400px;
}
.post_article_all{
	background:#fff;
    border-right: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
}
.heading_post_title{
	border-bottom: 1px solid #a9a9a9;
	margin-top:0;
	color: #00044f;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.post_list{
	width:550px;
	margin-right:100px;
	margin-bottom:100px;
	float:left;

}
.post_date{
	word-wrap: break-word;
	padding:10px;
/**/float:left;
}
/**/
.post_delete{
	float:right;
}
.post_delete{
	margin-top:9px;
	margin-right:10px;
}
.post_delete:hover{
	opacity:0.7;
}
/**/

.post_content{
	word-wrap: break-word;
	padding:10px;

/**/clear:both;
}

.post_table{
	margin:0;
	width:550px;
    word-break: break-all;
    word-wrap: break-word;
}
.post_table td{
	text-align:center;
	width:550px;
}
.post_table span{
	margin-bottom:10px;
}
/*コメントアイコン押したら開くところの設定*/
.comment_margin_top{
	margin-top:30px;
}
.mypage_comment_list input[type="submit"]{
	margin-bottom:10px;
	padding: 10px 30px;
	border-style: none;
	font-size: 15px;
	position: relative;
	display: inline;
	width: 100px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.mypage_comment_list input[type="submit"]:activate{
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.mypage_comment_list input[type="submit"]:hover{
	background-color:#74f1fc;
}
.mypage_textarea{
	width:80%;
	height:150px;
}

/*--------ブックマーク企業一覧設定--------*/
.bookmark_list{
	width:350px;
	float:left;
	margin-bottom:100px;
}
.bookmark_company{
	padding:10px 9px;
	text-align:center;
    border-right: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    position:relative;
    width:330px;
    height:50px;
}
.bookmark_company:nth-child(odd){
	background:#e6f2ff;
}
.bookmark_company a:hover{
	opacity: 0.7;
}
.bookmark_company a{
	text-decoration:none;
	display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
/*ブックマーク分析ボタン設定*/
.bookmark_analysis{
	text-align:center;
	margin-top:30px;
}
.bookmark_analysis a{
	border-style: none;
    font-size: 20px;
    position: relative;
    display: inline;
    width: 200px;
    padding: 0.7em;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #93d1e6;
    /*border-bottom: 2px solid #00838F;*/
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.bookmark_analysis a:hover{
	background-color: #74f1fc;
}
/*----------------------mypage_edit.jsp設定-----------------------------*/
/*全体の配置設定*/
.profile_edit_top{
	text-align:center;
	margin-top:50px;
}

/*プロフィール編集部分のデザイン設定*/
/*位置設定*/
.profile_edit_subject{
	margin-right:auto;
	margin-left:auto;
	background-color:#93d1e6;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	padding-top:30px;
	padding-bottom:30px;
	width:450px;
}

.proedit_form{
	width:450px;
	background:#e0ffff;
	margin-right:auto;
	margin-left:auto;
	padding-bottom:30px;
}
.proedit_form div{
	padding-top:30px;

}
.proedit_form p{
	padding-bottom:10px;
	font-size:23px;
}
/*テキストエリアの設定*/
.write_letters{
	border:0;
	padding:7px;
	font-size:1.3em;
	font-family:Arial, sans-serif;
	color:#555;
	border:solid 1px #ccc;
	margin:0 0 10px;
	width:300px;
	/*角丸に*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*影追加*/
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
textarea{
	border:0;
	padding:7px;
	font-size:1em;
	font-family:Arial, sans-serif;
	color:#555;
	border:solid 1px #ccc;
	margin:0 0 10px;
	width:300px;
	height:200px;
	/*角丸に*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*影追加*/
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
/*ICON選択の設定*/
.proedit_form input[type=file]{
	display:none;
}

.proedit_form label{
	content:"Browse...";
	margin-bottom: 10px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 150px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);

}
.proedit_form label:hover{
	background-color:#74f1fc;
}
/*投資経験の選択の設定*/
.proedit_form select{
	width:300px;
	height:40px;
	color: #555;
	font-size:20px;
	/*角丸に*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*影追加*/
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
/*変更ボタンデザイン設定*/
.profile_edit_btn{
	margin-top:3px;
	margin-bottom: 10px;
	padding: 10px 30px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 150px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #93d1e6;
	/*border-bottom: 2px solid #00838F;*/
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.profile_edit_btn:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.profile_edit_btn:hover{
	background-color:#74f1fc;

}

/*投稿ボタン位置、デザイン設定（投稿時に押すボタン）*/

.post_icon_function{
	width:60px;
	height:60px;
    position: fixed;
    bottom: 80px;
    right: 80px;
}


/*
---------------index.jsp編集----------------------
*/
/*-------次へページデザイン設定--------------*/
center{
	color:#fff;
}
center span{
	padding:20px;
	margin-right:10px;
	font-weight:bold;
	background:#6edaff;
	border-radius:50px 50px;
}
center a{
	padding:20px;
	margin-right:10px;
    font-weight:bold;
	border-radius:50px 50px;
	text-decoration:none;
	color:#fff;
	background:#56aac7;
}
center a:hover{
	opacity:0.7;
}
/*-------------アイコンと記事本文の編集設定------------*/
/*ライン設定*/
.article_table{
	border:1px solid #a9a9a9;
	border-collapse:collapse;
}

.function_cell{
	border-top:1px solid #a9a9a9;
}

.solid_right{
	border-right:1px solid #a9a9a9;
	border-left:1px solid #a9a9a9;
}
/*見出し「フォローしている人の投稿」の設定*/

/*投稿の位置設定*/
.top_article{
	padding:10px;
	margin-bottom:10px;
	word-wrap: break-word;
}
.top-margin{
	margin-top:125px;
}
.article_table{
	margin-top:10px;
}
/*ユーザアイコン、名前、記事の位置設定*/
.article_table img:hover{
	opacity:0.7;
}

.top_icon_home{
	float:left;
}
.top_name_home{
	float:left;
	margin-top:15px;
	margin-left:5px;
}
.top_name_home a{
	text-decoration:none;
}
.top_name_home a:hover{
	opacity:0.7;
}
.top_article_home{
	clear:both;
}
.top_article_home a{
	text-decoration:none;
}

.top_article_home div{
	margin-bottom:5px;
}
/*シェア、コメント、いいねアイコンの位置設定*/
.table_in_icon{
	width:33%;
	float:left;
}

.name_n_icon{
	vertical-align:middle;
}
.name_n_icon div{
	margin-left:10px;
	margin-top:8px;

}
.name_n_icon a{
	float:left;
}
.name_n_icon p{
	float:left;
	line-height:56px;
}
.function_icon{
	text-align: center;
    vertical-align: middle;
}
.function_icon a{
	float:left;
}
.function_icon p{
	float:left;
}

.function_icon td{
	text-align: center;
	vertical-align:middle;
}
/*コメントアイコン押したときに見れる部分の設定*/
.top_article_homeonly{
	text-align:left;
}

/*コメント記入欄デザイン、位置設定*/
.response_comment{
	margin-bottom:10px;
}
.response_comment textarea{
	width:800px;
	height:150px;
	margin-top:30px;
}
.response_comment input{
	padding: 10px 30px;
	border-style: none;
	font-size: 15px;
	position: relative;
	display: inline;
	width: 100px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #93d1e6;

	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.response_comment input:activate{
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.response_comment input:hover{
	background-color:#74f1fc;
}

/*
--------------follow_list.jsp,follower_list.jsp設定
*/
/*テーブルデザイン*/
.follow_follower{
	border-collapse:collapse;
	table-layout: fixed;
	margin-top:50px;
	border: 1px solid #a9a9a9;
	width:700px;
}
.follow_follower td{
	line-height:60px;
	vertical-align:middle;
}

.follow_follower tr:nth-child(odd){
	background:#e6f2ff;
}
.follow_img{
	padding-left:50px;
}
.follow_img:hover{
	opacity:0.7;
}
.follow_img img{
	float:left;
	display:block;
	margin-top:5px;
}
.follow_follower span{
	padding-left:20px;
}
.follow_img p{
	float:left;
}
.follow_btn{
	width:20%;
}
/*フォント設定*/
.follow_follower a{
	text-decoration: none;
	font-size: 25px;
	color:#4682b4;
	display:block;
	width:100%;
	height:100%;

}
/*フォローボタンの設定*/

.follow_btn img{
	float:right;
	display:block;
	margin-right:50px;
}
.follow_btn img:hover{
	opacity:0.7;
}

/*友達検索のデザイン*/
.button_second{
	margin-left:35px;
    float:left;
}

.search_btn{
	padding: 8px 30px;
	border-style: none;
	font-size: 15px;
	position: relative;
	display: inline;
    height:37px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #93d1e6;
	/*border-bottom: 2px solid #00838F;*/
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.search_btn:activate{
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.search_btn:hover{
	background-color:#74f1fc;
}
.search_box{
	border:2px solid #93d1e6;
	height:33px;
	font-size:20px;
	padding:2px;
}
.follow_img_head{
	float:left;
	margin-bottom:30px;
	margin-left:30px;

}

.header_contents{
	clear:both;
}

/*ページトップ、ボトムボタンのデザイン、位置設定*/
#page_top{
  width: 80px;
  height: 80px;
  position: fixed;
  right: 60px;
  bottom: 205px;
  background: #ffffff;
  border-radius: 50%;
  z-index:3;
}
#page_top a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
}
#page_top img{
	width:80px;
	height:80px;
}
#page_top a::before{
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_bottom{
  width: 80px;
  height: 80px;
  position: fixed;
  right: 60px;
  bottom: 165px;
  background: #ffffff;
  border-radius: 50%;
  z-index:3;
}
#page_bottom a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
}
#page_bottom img{
	width:80px;
	height:80px;
}
#page_bottom a::before{
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
/*ログアウトボタン設定*/
.log_out_btn{
	float:right;
	margin-top:5px;
	margin-right:35px;
}

.log_out_btn input{
	padding: 10px 30px;
	border-style: none;
	font-size: 15px;
	position: relative;
	display: inline;
	width: 100px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	/*background: #26C6DA;*/
	background:#93d1e6;

	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.log_out_btn input:activate{
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.log_out_btn input:hover{
	background-color:#74f1fc;
}

/*続きを読むの設定*/
.main{
	position:relative;
	z-index:0;
}

.main.onhidden{
	height:300px;
	overflow-y:hidden;
}
.main.ondisclose{

}
.main .readmore{
	position:absolute;
	bottom:0;
	width:100%;
	padding:20px 0;
	text-align:center;
	background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(255, 255, 255, 0.5), white) repeat scroll 0 0;
	font-weight:bold;
	cursor:pointer;
	z-index:999;
}

.main .readmore span{
	border-radius:20px;
	padding:5px 30px;
	background-color:#1ebaf7;
	color:#FFF;
}


/*
用語解説ポップアップの設定
*/
span.hint--top{
	text-decoration: underline red;
}
/*bookmark_analyze.jsp設定*/
.oneal{
	vertical-align:middle;
	text-align:center;

}
.william{
	margin:auto;
	text-align:center;
	width:200px;
}
.william img{
	display:block;
	margin:0;
}
.william p{
	color:#00044f;
	margin:0;
}
.color_add{
	background-color: #e6f2ff;
}
/*見出し設定*/
.heading_title{
	color:#00044f;
	text-align:center;
	font-size:35px;
	margin-top:50px;
	font-weight:bold;
}