<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">


    <servlet>
        <servlet-name>masuiCompanyS</servlet-name>
        <servlet-class>masui_java.Company</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiCompanyS</servlet-name>
        <url-pattern>/masui_jsp/company</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiIndustryS</servlet-name>
        <servlet-class>masui_java.Industry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiIndustryS</servlet-name>
        <url-pattern>/masui_jsp/industry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiMarketS</servlet-name>
        <servlet-class>masui_java.Market</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiMarketS</servlet-name>
        <url-pattern>/masui_jsp/market</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>teiLoginS</servlet-name>
        <servlet-class>tei_java.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiLoginS</servlet-name>
        <url-pattern>/tei_java/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>teiRegisterS</servlet-name>
        <servlet-class>tei_java.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiRegisterS</servlet-name>
        <url-pattern>/tei_java/register</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>teiMypageS</servlet-name>
        <servlet-class>tei_java.Mypage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiMypageS</servlet-name>
        <url-pattern>/tei_java/mypage</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>masuiCommentS</servlet-name>
        <servlet-class>masui_java.Comment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiCommentS</servlet-name>
        <url-pattern>/masui_jsp/comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiDeleteCommentS</servlet-name>
        <servlet-class>masui_java.DeleteComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiDeleteCommentS</servlet-name>
        <url-pattern>/masui_jsp/delete_comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiBookmarkS</servlet-name>
        <servlet-class>masui_java.Bookmark</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiBookmarkS</servlet-name>
        <url-pattern>/masui_jsp/bookmark</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiLoginS</servlet-name>
        <servlet-class>masui_java.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiLoginS</servlet-name>
        <url-pattern>/masui_jsp/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiRegisterS</servlet-name>
        <servlet-class>masui_java.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiRegisterS</servlet-name>
        <url-pattern>/masui_jsp/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiMypageS</servlet-name>
        <servlet-class>masui_java.Mypage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiMypageS</servlet-name>
        <url-pattern>/masui_jsp/mypage</url-pattern>
    </servlet-mapping>

</web-app>