<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

	<session-config>
    	<session-timeout>10</session-timeout>
  	</session-config>

    <filter>
        <filter-name>sessionCheckF</filter-name>
        <filter-class>masui_java.SessionCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionCheckF</filter-name>
        <url-pattern>/masui_jsp/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>masuiCompanyS</servlet-name>
        <servlet-class>masui_java.Company</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiCompanyS</servlet-name>
        <url-pattern>/masui_jsp/company</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiIndustryS</servlet-name>
        <servlet-class>masui_java.Industry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiIndustryS</servlet-name>
        <url-pattern>/masui_jsp/industry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiMarketS</servlet-name>
        <servlet-class>masui_java.Market</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiMarketS</servlet-name>
        <url-pattern>/masui_jsp/market</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>teiLoginS</servlet-name>
        <servlet-class>tei_java.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiLoginS</servlet-name>
        <url-pattern>/tei_java/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>teiRegisterS</servlet-name>
        <servlet-class>tei_java.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiRegisterS</servlet-name>
        <url-pattern>/tei_java/register</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>teiMypageS</servlet-name>
        <servlet-class>tei_java.Mypage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiMypageS</servlet-name>
        <url-pattern>/tei_java/mypage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>teiSearchS</servlet-name>
        <servlet-class>tei_java.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiSearchS</servlet-name>
        <url-pattern>/tei_java/search</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>teiMayfollowS</servlet-name>
        <servlet-class>tei_java.Mayfollow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiMayfollowS</servlet-name>
        <url-pattern>/tei_java/mayfollow</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>teiChart_sampleS</servlet-name>
        <servlet-class>tei_java.Chart_sample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiChart_sampleS</servlet-name>
        <url-pattern>/tei_java/chart_sample</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>teiLikeS</servlet-name>
        <servlet-class>tei_java.Like</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teiLikeS</servlet-name>
        <url-pattern>/tei_java/like</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>masuiCommentS</servlet-name>
        <servlet-class>masui_java.Comment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiCommentS</servlet-name>
        <url-pattern>/masui_jsp/comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiDeleteCommentS</servlet-name>
        <servlet-class>masui_java.DeleteComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiDeleteCommentS</servlet-name>
        <url-pattern>/masui_jsp/delete_comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiBookmarkS</servlet-name>
        <servlet-class>masui_java.Bookmark</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiBookmarkS</servlet-name>
        <url-pattern>/masui_jsp/bookmark</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiLoginS</servlet-name>
        <servlet-class>masui_java.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiLoginS</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiLogoutS</servlet-name>
        <servlet-class>masui_java.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiLogoutS</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiRegisterS</servlet-name>
        <servlet-class>masui_java.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiRegisterS</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiMypageS</servlet-name>
        <servlet-class>masui_java.Mypage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiMypageS</servlet-name>
        <url-pattern>/masui_jsp/mypage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiMypageEditS</servlet-name>
        <servlet-class>masui_java.MypageEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiMypageEditS</servlet-name>
        <url-pattern>/masui_jsp/mypage_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiFollowS</servlet-name>
        <servlet-class>masui_java.Follow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiFollowS</servlet-name>
        <url-pattern>/masui_jsp/follow</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiIndexS</servlet-name>
        <servlet-class>masui_java.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiIndexS</servlet-name>
        <url-pattern>/masui_jsp/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiFFlistS</servlet-name>
        <servlet-class>masui_java.FFlist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiFFlistS</servlet-name>
        <url-pattern>/masui_jsp/ff_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiArticleS</servlet-name>
        <servlet-class>masui_java.Article</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiArticleS</servlet-name>
        <url-pattern>/masui_jsp/article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiDeleteArticleS</servlet-name>
        <servlet-class>masui_java.DeleteArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiDeleteArticleS</servlet-name>
        <url-pattern>/masui_jsp/delete_article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiGoodS</servlet-name>
        <servlet-class>masui_java.Good</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiGoodS</servlet-name>
        <url-pattern>/masui_jsp/good</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiShareS</servlet-name>
        <servlet-class>masui_java.Share</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiShareS</servlet-name>
        <url-pattern>/masui_jsp/share</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiMayfollowS</servlet-name>
        <servlet-class>masui_java.Mayfollow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiMayfollowS</servlet-name>
        <url-pattern>/masui_jsp/mayfollow</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiSearchS</servlet-name>
        <servlet-class>masui_java.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiSearchS</servlet-name>
        <url-pattern>/masui_jsp/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sugeno_Chart_sampleS</servlet-name>
        <servlet-class>sugeno_java.Chart_sample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sugeno_Chart_sampleS</servlet-name>
        <url-pattern>/sugeno_jsp/chart_sample</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiBookmarkAnalyzeS</servlet-name>
        <servlet-class>masui_java.BookmarkAnalyze</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiBookmarkAnalyzeS</servlet-name>
        <url-pattern>/masui_jsp/bookmark_analyze</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>masuiYutaiSearchS</servlet-name>
        <servlet-class>masui_java.YutaiSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>masuiYutaiSearchS</servlet-name>
        <url-pattern>/masui_jsp/yutai_search</url-pattern>
    </servlet-mapping>

</web-app>