/*////////全体設定////////*/
body{
	font-family:Verdana,"ヒラギノ角ゴ Pro W3","メイリオ";
	color:#333;
	margin:0;
	padding:0;
	/*position:absolute;*/
}
header,nav,ul,li,h1,p,a{margin:0;padding:0;}
a {
	color:#333;
	text-decoration: underline;
}
li {
	list-style-type:none;
}
.shopArea {
	clear:both;
	padding: 20px 20px;
	border-bottom: 1px solid #e6e4e4;
	background:#f5f5dc;
}
.shopArea h1 {
	font-size:200%;
	line-height:1.3em;
}
.shopArea p{
	font-size: 12px;
	padding-left:5px;
}
/*--------------------------------
// ナビゲーション部分css
// 横幅20%のボタンを5つ横並びに配置
----------------------------------*/
nav {
	background: #f5f5f5;
	text-align:center;
}
nav ul li{
	float: left;
	width: 25%;
	border-right: 1px solid #e6e4e4;
	border-bottom: 1px solid #e6e4e4;
	box-sizing: border-box;
}
nav ul li:last-child {
	border-right: none;
}
nav ul li a{
	display: block;
	width: 100%;
	padding: 10px 0;
	text-decoration: none;
}
nav ul li a:hover {
	background:#f5f5dc;
}

.reco_info:hover{
	opacity: 0.7;    /* マウスオーバー時の行の背景色 */
}
.reco_info td:hover {
    opacity: 0.7;    /* マウスオーバー時のセルの背景色 */
}
/* 行全体をリンクに */

a.widelink { display: block; }

#all_table{

}
/*テーブルの位置、余白設定*/
table{
	margin-right:auto;
	margin-left:auto;
	width:1000px;
	margin-bottom:50px;
	margin-top:50px;
	border:none;
	border-collapse: collapse;/*追加*/
	table-layout:fixed;
	word-break:break-all;
	word-wrap:break-word;
}
/*投稿ボタン位置、デザイン設定（投稿時に押すボタン）*/

.post_icon_function{
	width:60px;
	height:60px;
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index:3;
}
/*ページトップボタンのデザイン、位置設定*/
#page_top{
  width: 80px;
  height: 80px;
  position: fixed;
  right: 60px;
  bottom: 165px;
  background: #3f98ef;
  border-radius: 50%;
  z-index:3;
}
#page_top a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
/*コメント削除デザイン設定（追加）*/
.comment_delete input[type="image"]{
	float:right;
}
.comment_delete input[type="image"]:hover{
	opacity:0.7;
}
/*
////////company.jspデザイン変更/////////////
*/

/*見出し背景色、文字設定「注目ポイント」「チャート」「コメント」「コメント一覧」他のページでも使用*/
.point_top{
	background-color:#52c2d0;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	padding-top:15px;
	padding-bottom:15px;
	border-collapse:separate;
}

/*///////企業のトップ情報/////////*/
/*企業名と株価の欄のデザイン*/
#top_table{
	border-color:whitesmoke;
}
#top_company{
	font-weight: bold;
	background-color:#52c2d0;
	color:white;
	font-size:50px;
	padding-top: 25px;
	padding-bottom:25px;
}
/*天気、紹介、PERなどのデザイン*/
.top_sub{
	background-color:whitesmoke;
	border-color:whitesmoke;
}

/*//////チャート//////*/
/*見出し「チャート」*/
.chart tr{
	border-bottom:solid 2px white;
}
/*「７、３０日間のボタンデザイン」*/
#chartbtn_margin{
	margin-top:20px;
	margin-bottom:20px;
}
.chart a.cp_btn{
	display: inline;
	width: 250px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.chart a.cp_btn:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.chart a.cp_btn:hover{
	background-color:#74f1fc;
}
/*背景色設定*/
.sub{
	background-color:whitesmoke;
}

/*///////注目ポイント/////////*/
.attention_point{
	border-collapse: collapse;
}
.attention_point tr{
	border-bottom:solid 2px white;
}
.attention_point tr:last-child{
	border-bottom: none;
}
.attention_point th{
	background-color:#52c2d0;
	color:white;
	width: 30%;
	border-bottom:solid 2px white;
}
.attention_point th.last{
	border-bottom:solid 1px black;
}
.attention_point td{
	background-color:whitesmoke;
}

.sub_point{
	background-color:#afeeee;
	padding-top:10px;
	padding-bottom:10px;
	color:black;
	width: 30%;
	font-weight: normal;
}
.attention_point td{
	background-color:#afeeee;
}

/*///////コメント欄/////////*/
/*位置設定*/
.comment_submit td{
	text-align:center;
}
/*テキストエリアの大きさ、余白設定*/
.comment_submit textarea{
	margin-top:10px;
	width:500px;
	height:200px;
}
/*送信ボタンのデザイン*/
.comment_submit input{
	margin-top:3px;
	margin-bottom: 10px;
	padding: 10px 30px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 250px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.comment_submit input:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.comment_submit input:hover{
	background-color:#74f1fc;

}

/*コメントリストの位置設定*/

/*「コメント内容」の位置設定*/
.commentword{
	text-align:left;
	padding:10px;
}


/*
--------------------industry.jspのcss-----------------------
*/

/*-------------業界フィルターのデザイン設定---------------*/
/*背景の設定*/
.industry_filter{
	padding-top:50px;
	padding-bottom:50px;
	background-color:#ffdab9;
	margin-top:45px;
}
.industry_filter form{
	margin-right:auto;
	margin-left:auto;
}
/*業界選択の欄の設定*/
.industry_filter select{
	width:280px;
	height:50px;
	color: #666666;
	font-size:20px;
}
/*「Ｇｏ！」ボタンの設定*/
.industry_filter input{
	margin-top:3px;
	margin-bottom: 10px;
	padding: 8px 30px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 100px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #deb887;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.industry_filter input:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.industry_filter input:hover{
	background-color:#74f1fc;

}

/*-------------業界ページトップ、天気表示の設定---------------*/

/*フォント設定*/
.sub_word{
	padding-left:20px;
	padding-top:53px;
	font-size:18.5px;
	padding-bottom:0px;
	color:#a0522d;

}
.main_word{
	font-size: 40px;
	font-weight: bold;
	padding-top:0px;
	padding-left:20px;
	color:#a0522d;
}

/*業界ページトップの表全体のデザイン*/
.industry_top{
	border:none;
	background-color:#ffdab9;
}

/*-----------業界動向デザイン設定-------------*/
/*全体のデザイン*/
.industry_overview{
	border:none;
	background-color:#52c2d0;
}
.overview{
	width:750px;
	vertical-align:top;
}
/*文字のデザイン*/
.industry_overview h3{
	color:white;
	margin-left:20px;
	margin-top:10;
	margin-bottom:20px;
}
.industry_overview p{
	color:white;
	margin-left:25px;
}
/*画像設定*/
.overview_img img{
	margin-top:25px;
}

/*-----------おすすめ企業一覧デザイン設定-------------*/
.recommend_table td{
	padding:10px;
}
.recommend_table tr:nth-child(odd){
	background:#e6f2ff;
}
.recommend{
	background-color:#87ceeb;
	color:white;
}


/*
---------------market.jsp編集----------------------
*/

/*market.jspデザイン設定*/
.industryweather{
	border-collapse:collapse;
}
.industryweather td{
	padding:10px;
}
.industryweather th{
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	padding:10px;
	color:#fff;
	background:#52c2d0;
}
.industryweather tr:nth-child(odd){
	background:#e6f2ff;
}
/*フォント設定*/
.reco_info a{
	text-decoration: none;
	font-size: 25px;
	color:#4682b4;
}
/*
---------------home.jsp,article.jsp編集----------------------
*/
/*-------------アイコンと記事本文の編集設定------------*/
/*ライン設定*/
.article_table{
	border:1px solid #a9a9a9;
	border-collapse:collapse;
}

.function_cell{
	border-top:1px solid #a9a9a9;
}

.solid_right{
	border-right:1px solid #a9a9a9;
}
/*見出し「フォローしている人の投稿」の設定*/

/*投稿の位置設定*/
.top_article{
	padding:10px;
	margin-bottom:10px;
}
.top-margin{
	margin-top:125px;
}
.article_table{
	margin-top:50px;
}
/*ユーザアイコン、名前、記事の位置設定*/
.article_table img:hover{
	opacity:0.7;
}

.top_icon_home{
	float:left;
}
.top_name_home{
	float:left;
	margin-top:15px;
	margin-left:5px;
}
.top_name_home a{
	text-decoration:none;
}
.top_name_home a:hover{
	opacity:0.7;
}
.top_article_home{
	clear:both;
}
.top_article_home a{
	text-decoration:none;
}

.top_article_home div{
	margin-bottom:5px;
}
/*シェア、コメント、いいねアイコンの位置設定*/
.table_in_icon{
	width:33.2%;
	float:left;
}

.name_n_icon{
	vertical-align:middle;
}
.name_n_icon div{
	margin-left:10px;
	margin-top:8px;

}
.name_n_icon a{
	float:left;
}
.name_n_icon p{
	float:left;
	line-height:56px;
}
.function_icon{
	text-align: center;
    vertical-align: middle;
}
.function_icon a{
	float:left;
}
.function_icon p{
	float:left;
}

.function_icon td{
	text-align: center;
	vertical-align:middle;
}
/*コメントアイコン押したときに見れる部分の設定*/
.top_article_homeonly{
	text-align:left;
}

/*
---------------mypage.jsp編集----------------------
*/
/*-------------アイコンと自己紹介の編集設定------------*/
/*背景色設定*/
.profile_top{
	background:#52c2d0;
	padding:10px;
	color:white;
}
/*アイコン設定*/
.mypage_profile{
	margin-top:100px;
}
.profile_img{
	width:100px;
	height:100px;
	margin-right:25px;
	float:left;
}
/*紹介文の設定*/
.user_introduction{
	float:left;
	width:750px;
}
.user_name{
	font-size:40px;
	margin-bottom:10px;
}
.invest_histry{
	font-size:20px;
	margin-bottom:10px;
}
.introduction_word{
	margin-bottom:7px;
}
/*編集ボタン設定*/
.edit_profile{
	float:right;
	margin-top:15px;
	margin-right:10px;
}
.edit_profile a{
	margin-top:3px;
	margin-bottom: 10px;
	padding: 10px 30px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 250px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
	border:2px solid #ffffff;
}
.edit_profile a:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.edit_profile a:hover{
	background-color:#74f1fc;
}
.line-right{
	border-right:1px solid #d3d3d3;
}
/*--------ユーザの投稿一覧とブックマーク企業一覧位置設定--------*/
.post_n_bookmark{
	margin-right:auto;
	margin-left:auto;
	width:1000px;
	margin-bottom:50px;
	margin-top:50px;
}
/*--------ユーザの投稿一覧設定--------*/
.heading{
	background-color:#52c2d0;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	padding-top:15px;
	padding-bottom:15px;
}
.post_article{
	width:400px;
}
.post_article_all{
/**/background:whitesmoke;
}
.post_list{
	background:#00ffff;
	width:550px;
	margin-right:100px;
	float:left;

}
.post_date{
	word-wrap: break-word;
	padding:10px;
	background:whitesmoke;
/**/float:left;
}
/**/
.post_list form{
	float:right;
}
.post_delete{
	margin-top:9px;
	margin-right:10px;
}
.post_delete:hover{
	opacity:0.7;
}
/**/

.post_content{
	word-wrap: break-word;
	padding:10px;
	background:whitesmoke;
/**/clear:both;
}
.post_icon{
	background:whitesmoke;

    border-bottom : solid 2px #52c2d0 ;
}
.post_table{
	margin:0;
	width:550px;
}
.post_table td{
	text-align:center;
}
.post_table span{
	margin-bottom:10px;
}
/*--------ブックマーク企業一覧設定--------*/
.bookmark_list{
	width:350px;
	background:#ff00ff;
	float:left;
}
.bookmark_company{
	padding:10px;
	text-align:center;
	background:whitesmoke;

    border-bottom : solid 2px #52c2d0 ;
    position:relative;
    width:330px;
    height:50px;
}
.bookmark_company a:hover{
	opacity: 0.7;
}
.bookmark_company a{
	text-decoration:none;
	display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/*----------------------mypage_edit.jsp設定-----------------------------*/
/*全体の配置設定*/
.profile_edit_top{
	text-align:center;
	margin-top:115px;
}

/*プロフィール編集部分のデザイン設定*/
/*位置設定*/
.profile_edit_subject{
	margin-right:auto;
	margin-left:auto;
	background-color:#52c2d0;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	padding-top:30px;
	padding-bottom:30px;
	width:450px;
}

.proedit_form{
	width:450px;
	background:#e0ffff;
	margin-right:auto;
	margin-left:auto;
	padding-bottom:30px;
}
.proedit_form div{
	padding-top:30px;

}
.proedit_form p{
	padding-bottom:10px;
	font-size:23px;
}
/*テキストエリアの設定*/
.write_letters{
	border:0;
	padding:7px;
	font-size:1.3em;
	font-family:Arial, sans-serif;
	color:#555;
	border:solid 1px #ccc;
	margin:0 0 10px;
	width:300px;
	/*角丸に*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*影追加*/
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
textarea{
	border:0;
	padding:7px;
	font-size:1em;
	font-family:Arial, sans-serif;
	color:#555;
	border:solid 1px #ccc;
	margin:0 0 10px;
	width:300px;
	height:200px;
	/*角丸に*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*影追加*/
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
/*ICON選択の設定*/
.proedit_form input[type=file]{
	display:none;
}

.proedit_form label{
	content:"Browse...";
	margin-bottom: 10px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 150px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);

}
.proedit_form label:hover{
	background-color:#74f1fc;
}
/*投資経験の選択の設定*/
.proedit_form select{
	width:300px;
	height:40px;
	color: #555;
	font-size:20px;
	/*角丸に*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*影追加*/
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
/*変更ボタンデザイン設定*/
.profile_edit_btn{
	margin-top:3px;
	margin-bottom: 10px;
	padding: 10px 30px;
	border-style: none;
	font-size: 20px;
	position: relative;
	display: inline;
	width: 150px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.profile_edit_btn:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.profile_edit_btn:hover{
	background-color:#74f1fc;

}
/*
--------------follow_list.jsp,follower_list.jsp設定
*/
/*テーブルデザイン*/
.follow_follower{
	border-collapse:collapse;
	table-layout: fixed;
	margin-top:115px;
}
.follow_follower td{
	line-height:60px;
	vertical-align:middle;
}

.follow_follower tr:nth-child(odd){
	background:#e6f2ff;
}
.follow_img{
	padding-left:50px;
}
.follow_img:hover{
	opacity:0.7;
}
.follow_img img{
	float:left;
	display:block;
	margin-top:5px;
}
.follow_img p{
	float:left;
}
.follow_btn{
	width:20%;
}
/*フォント設定*/
.follow_follower a{
	text-decoration: none;
	font-size: 25px;
	color:#4682b4;
	display:block;
	width:100%;
	height:100%;

}
/*フォローボタンの設定*/

.follow_btn img{
	float:right;
	display:block;
	margin-right:50px;
}
.follow_btn img:hover{
	opacity:0.7;
}
/*--------------------------------------------
         comment_posted.jspの設定
--------------------------------------------*/
/*はい,いいえボタンの位置設定*/

.yes_no_form{
	text-align:center;
	margin-top:40px;
}
.yes_no_form div{
	text-align:center;
}
.yes{
	margin-right:50px;
}